runpod==1.7.9
boto3==1.38.22
safetensors
transformers==4.49.0
diffusers @ git+https://github.com/huggingface/diffusers@363d1ab7e24c5ed6c190abb00df66d9edb74383b
huggingface_hub
peft                  # If using LoRA
accelerate            # Often needed by diffusers
einops                # Required by some pipelines

# Optional dependencies
peft                 # If using LoRA
lycoris-lora==1.8.3  # If using LyCORIS weights
bitsandbytes         # For 8-bit inference or quantized LoRA
python-dotenv        # If using .env config for HF_TOKEN
gradio               # If serving an inference UI
sentencepiece        # Some tokenizers need this (e.g., T5, mT5)
opencv-python        # For image pre/post-processing
protobuf             # Required implicitly by transformers (add this!)